root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
ktlint_standard_filename = disabled
ktlint_standard_function-expression-body = disabled
ktlint_standard_multiline-expression-wrapping = disabled
max_line_length = 120
